.Forside_svg {
  margin-top: -95px;
}

.hide {
  display: none;
}
/*********** BILLEDER ***********/
.portræt_img {
  max-width: 250px;
  width: 100%;
  height: auto;
  margin: 1.25rem auto;
}

.tema_imgs {
  width: 300px;
  height: auto;
  margin: 1.25rem auto;
}

.project_img {
  width: 200px;
  height: auto;
  margin: 1.25rem auto;
  border-radius: 50%;
  box-shadow: 0 0 40px 10px #e48300;
  border-color: #595959;
}

/************** KNAPPER ***********/
.button_main {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 80px;
  height: 80px;

  background-color: transparent;
  color: #fff;
  text-decoration: none;
  border-color: #595959;
  border-radius: 50%;
  cursor: pointer;

  box-shadow: 0 0 40px 10px #e48300;

  transform: translate(0, -200%);
}

#seeWork {
  margin: 0 auto;
}

.button_main:hover {
  box-shadow: 0 0 30px #ffffff;
  background-color: transparent;
  transform: translate(0, -200%) scale(1.05);
}

/************ INFO BOXE ***********/
.tema_img_text_container {
  margin-bottom: 60px;
}

.infoBox {
  position: relative;
  background: linear-gradient(rgba(115, 115, 115, 0.05), rgba(228, 131, 0, 0.05));
  border-radius: 10px;
  max-width: 250px;
  width: 100%;
  height: auto;
  margin: 20px auto;
}

.text_cirkel_orange {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #e48300;
  border-radius: 50%;
  margin-right: 8px;
  vertical-align: bottom;
}

.infoBox_text {
  padding: 5px;
  margin: 5px;
}

/************ Section Divider ***********/
.Section_divider {
  width: 300px;
  height: 2px;
  background-color: #e48300;
  margin: 20px auto;
}

/************* Text afsnit *************/

.contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.infoText_projects {
  padding-left: 75px;
  padding-right: 75px;
  margin-bottom: 75px;
}

.tema h3 {
  padding-left: 75px;
  margin-bottom: 20px;
}
.tema {
  margin-bottom: 60px;
}

/************** Baggrundsbillede **************/

/* desktop */
@media (min-width: 801px) {
  body {
    background-attachment: fixed;
  }
  .button_main {
    width: 150px;
    height: 150px;
    transform: translate(0, -250%);
  }
  .button_main:hover {
    transform: translate(0, -250%) scale(1.05);
  }

  /************ TEKST ***********/

  .project_h3 {
    color: #e48300;
  }

  .infoText_projects {
    margin-left: auto;
    margin-right: auto;
  }

  /********** BILLEDER ************/
  .project_img {
    width: 350px;
  }
}

/* mobil */
@media (max-width: 800px) {
  body {
    background-attachment: scroll;
  }
}
